<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-batch-job-execution-heading" jhiTranslate="batchuiApp.batchJobExecution.home.createOrEditLabel">Create or edit a Batch Job Execution</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchJobExecution.version" for="field_version">Version</label>
                    <input type="number" class="form-control" name="version" id="field_version"
                           formControlName="version"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchJobExecution.createTime" for="field_createTime">Create Time</label>
                    <div class="d-flex">
                        <input id="field_createTime" type="datetime-local" class="form-control" name="createTime" formControlName="createTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('createTime')!.invalid && (editForm.get('createTime')!.dirty || editForm.get('createTime')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('createTime')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('createTime')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchJobExecution.startTime" for="field_startTime">Start Time</label>
                    <div class="d-flex">
                        <input id="field_startTime" type="datetime-local" class="form-control" name="startTime" formControlName="startTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('startTime')!.invalid && (editForm.get('startTime')!.dirty || editForm.get('startTime')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('startTime')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('startTime')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchJobExecution.endTime" for="field_endTime">End Time</label>
                    <div class="d-flex">
                        <input id="field_endTime" type="datetime-local" class="form-control" name="endTime" formControlName="endTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('endTime')!.invalid && (editForm.get('endTime')!.dirty || editForm.get('endTime')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('endTime')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('endTime')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchJobExecution.status" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                    <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('status')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 10 }">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchJobExecution.exitCode" for="field_exitCode">Exit Code</label>
                    <input type="text" class="form-control" name="exitCode" id="field_exitCode"
                           formControlName="exitCode"/>
                    <div *ngIf="editForm.get('exitCode')!.invalid && (editForm.get('exitCode')!.dirty || editForm.get('exitCode')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('exitCode')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2500 }">
                        This field cannot be longer than 2500 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchJobExecution.exitMessage" for="field_exitMessage">Exit Message</label>
                    <input type="text" class="form-control" name="exitMessage" id="field_exitMessage"
                           formControlName="exitMessage"/>
                    <div *ngIf="editForm.get('exitMessage')!.invalid && (editForm.get('exitMessage')!.dirty || editForm.get('exitMessage')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('exitMessage')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2500 }">
                        This field cannot be longer than 2500 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchJobExecution.lastUpdated" for="field_lastUpdated">Last Updated</label>
                    <div class="d-flex">
                        <input id="field_lastUpdated" type="datetime-local" class="form-control" name="lastUpdated" formControlName="lastUpdated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchJobExecution.jobConfigurationLocation" for="field_jobConfigurationLocation">Job Configuration Location</label>
                    <input type="text" class="form-control" name="jobConfigurationLocation" id="field_jobConfigurationLocation"
                           formControlName="jobConfigurationLocation"/>
                    <div *ngIf="editForm.get('jobConfigurationLocation')!.invalid && (editForm.get('jobConfigurationLocation')!.dirty || editForm.get('jobConfigurationLocation')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('jobConfigurationLocation')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2500 }">
                        This field cannot be longer than 2500 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchJobExecution.batchJobInstance" for="field_batchJobInstance">Batch Job Instance</label>
                    <select class="form-control" id="field_batchJobInstance" name="batchJobInstance" formControlName="batchJobInstanceId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="batchJobInstanceOption.id" *ngFor="let batchJobInstanceOption of batchjobinstances; trackBy: trackById">{{ batchJobInstanceOption.jobInstanceId }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
