<div class="wrapper align-items-top justify-content-center">
    <div id="sidebar" [ngClass]="sidebarActive ? '' : 'active'">
       <jhi-job-execution-search-form [searchCriteria]="searchCriteria" (onSerarch)="search()">
       </jhi-job-execution-search-form>
    </div>
    <div id="content" class="w-100 justify-content-end">
        <h2 id="page-heading">
            <button id="toggle_search_panel" class="btn btn-primary" (click)="toggleSearchSidebar()">
                <fa-icon [icon]="sidebarActive ? 'tasks' : 'search'"></fa-icon>
            </button>
            <span jhiTranslate="batchuiApp.batchJobExecution.home.title">Job Executions</span>

            <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-batch-job-execution mr-1" [routerLink]="['/batch-job-execution/new']">
                <fa-icon icon="plus"></fa-icon>
                <span jhiTranslate="batchuiApp.batchJobExecution.action.startJob">
                Start a new Job Execution
                </span>
            </button>

            <button id="jh-refresh" class="btn btn-secondary float-right mr-1" (click)="refresh()">
                <fa-icon icon="sync"></fa-icon>
                <span jhiTranslate="entity.action.refresh">Refresh</span>
            </button>
        </h2>
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
        <div class="alert alert-warning" id="no-result" *ngIf="batchJobExecutions?.length === 0">
            <span jhiTranslate="batchuiApp.batchJobExecution.home.notFound">No batchJobExecutions found</span>
        </div>

        <jhi-batch-job-execution-list *ngIf="batchJobExecutions?.length > 0" [batchJobExecutions]="batchJobExecutions" [(ascending)]="ascending" [(predicate)]="predicate" [sortCallback]="loadPage.bind(this)">
        </jhi-batch-job-execution-list>
        
        <div *ngIf="batchJobExecutions?.length > 0">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>

            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
            </div>
        </div>
    </div>
</div>
