<div class="row justify-content-center">
    <div class="col-12">
        <div *ngIf="batchJobExecution">
            <h2>
                <span jhiTranslate="batchuiApp.batchJobExecution.detail.title">Job Execution</span>: 
                {{ batchJobExecution.jobName }}
                <button id="jh-refresh" class="btn btn-secondary float-right" (click)="refresh()">
                    <fa-icon icon="sync"></fa-icon>
                    <span jhiTranslate="entity.action.refresh">Refresh</span>
                </button>
            </h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <jhi-batch-job-execution-view [batchJobExecution]="batchJobExecution">
            </jhi-batch-job-execution-view>

            <br>
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="submit" (click)="delete()" class="btn btn-danger">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
            </button>

        </div>
    </div>
</div>
