<div class="justify-content-center">
    <div class="row">
        <div class="col-12">
            <h2 id="jhi-batch-job-execution-heading">
                <fa-icon icon="cog" fixedWidth="true"></fa-icon>
                <span jhiTranslate="batchuiApp.batchJobExecution.action.startJob">
                    Start new Batch Job
                </span>
            </h2>
            <jhi-alert-error></jhi-alert-error>
            <jhi-alert></jhi-alert>
        </div>
    </div>
    <div class="row">
        <div class="col-4 p-2">
            <form name="jobParamForm" role="form" novalidate (ngSubmit)="addParam()" [formGroup]="jobParamForm">
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="batchuiApp.batchJobExecutionParams.keyName" for="field_keyName">Key Name</label>
                <input type="text" class="form-control" name="keyName" id="field_keyName"
                       formControlName="keyName"/>
                <div *ngIf="jobParamForm.get('keyName')!.invalid && (jobParamForm.get('keyName')!.dirty || jobParamForm.get('keyName')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="jobParamForm.get('keyName')?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                    </small>
                    <small class="form-text text-danger"
                           *ngIf="jobParamForm.get('keyName')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                            This field cannot be longer than 100 characters.
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="batchuiApp.batchJobExecutionParams.identifying" for="field_identifying">Identifying</label>
                <select class="form-control" name="identifying" id="field_identifying" formControlName="identifying" >
                    <option [ngValue]="opt.value" *ngFor="let opt of identifyingOptions">{{ opt.key }}</option>
                </select>
                <div *ngIf="jobParamForm.get('identifying')!.invalid && (jobParamForm.get('identifying')!.dirty || jobParamForm.get('identifying')!.touched)">
                    <small class="form-text text-danger" *ngIf="jobParamForm.get('identifying')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="batchuiApp.batchJobExecutionParams.longVal" for="field_longVal">Long Val</label>
                <input type="number" class="form-control" name="longVal" id="field_longVal" formControlName="longVal"/>
                <div *ngIf="(jobParamForm.errors?.oneValueFieldRequiered || jobParamForm.errors?.onlyOneValueFieldAllowed) && (jobParamForm.get('longVal')!.dirty || jobParamForm.get('longVal')!.touched)">
                    <small class="form-text text-danger" *ngIf="jobParamForm.errors?.oneValueFieldRequiered">
                        One value field must contain a valid value!
                    </small>
                    <small class="form-text text-danger" *ngIf="jobParamForm.errors?.onlyOneValueFieldAllowed">
                        Only one value field is allowed to contain value!
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="batchuiApp.batchJobExecutionParams.stringVal" for="field_stringVal">String Val</label>
                <input type="text" class="form-control" name="stringVal" id="field_stringVal"
                       formControlName="stringVal"/>
                <div *ngIf="(jobParamForm.get('stringVal')!.invalid || jobParamForm.errors?.oneValueFieldRequiered || jobParamForm.errors?.onlyOneValueFieldAllowed) && (jobParamForm.get('stringVal')!.dirty || jobParamForm.get('stringVal')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="jobParamForm.get('stringVal')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 250 }">
                        This field cannot be longer than 250 characters.
                    </small>
                    <small class="form-text text-danger" *ngIf="jobParamForm.errors?.oneValueFieldRequiered">
                        One value field must contain a valid value!
                    </small>
                    <small class="form-text text-danger" *ngIf="jobParamForm.errors?.onlyOneValueFieldAllowed">
                        Only one value field is allowed to contain value!
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="batchuiApp.batchJobExecutionParams.dateVal" for="field_dateVal">Date Val</label>
                <div class="d-flex">
                    <input id="field_dateVal" type="datetime-local" class="form-control" name="dateVal" formControlName="dateVal" placeholder="YYYY-MM-DD HH:mm"/>
                </div>
                <div *ngIf="(jobParamForm.errors?.oneValueFieldRequiered || jobParamForm.errors?.onlyOneValueFieldAllowed) && (jobParamForm.get('dateVal')!.dirty || jobParamForm.get('dateVal')!.touched)">
                    <small class="form-text text-danger" *ngIf="jobParamForm.errors?.oneValueFieldRequiered">
                        One value field must contain a valid value!
                    </small>
                    <small class="form-text text-danger" *ngIf="jobParamForm.errors?.onlyOneValueFieldAllowed">
                        Only one value field is allowed to contain value!
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="batchuiApp.batchJobExecutionParams.doubleVal" for="field_doubleVal">Double Val</label>
                <input type="number" class="form-control" name="doubleVal" id="field_doubleVal" formControlName="doubleVal"/>
                <div *ngIf="(jobParamForm.errors?.oneValueFieldRequiered || jobParamForm.errors?.onlyOneValueFieldAllowed) && (jobParamForm.get('doubleVal')!.dirty || jobParamForm.get('doubleVal')!.touched)">
                    <small class="form-text text-danger" *ngIf="jobParamForm.errors?.oneValueFieldRequiered">
                        One value field must contain a valid value!
                    </small>
                    <small class="form-text text-danger" *ngIf="jobParamForm.errors?.onlyOneValueFieldAllowed">
                        Only one value field is allowed to contain value!
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="reset" class="btn btn-secondary" (click)="resetParam()">
                    <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.clear">Clear</span>
                </button>
                <button type="button" id="add-param" class="btn btn-secondary" [disabled]="jobParamForm.invalid" (click)="addParam()">
                    <fa-icon icon="plus"></fa-icon>&nbsp;<span jhiTranslate="batchuiApp.batchJobExecution.action.addParam">Add param</span>
                </button>
            </div>
            </form>
        </div>
        <div class="col-8 p-2">
            <jhi-batch-job-executionparams-widget [batchJobExecutionParams]="startBatchJob.batchJobExecutionParams"
                [showRemoveControl]="true" (onRemove)="removeBjep($event)">
            </jhi-batch-job-executionparams-widget>
        </div>
    </div>
    <div class="row border-top">
        <div class="col-4">
            <form name="startJobForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="startJobForm">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchJobExecution.jobName" for="field_jobName">Job Name</label>:
                    <input type="text" class="form-control" name="jobName" id="field_jobName" formControlName="jobName"/>
                    <div *ngIf="startJobForm.get('jobName')!.invalid && (startJobForm.get('jobName')!.dirty || startJobForm.get('jobName')!.touched)">
                        <small class="form-text text-danger" *ngIf="startJobForm.get('jobName')?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-info" (click)="previousState()">
                        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
                    </button>
    
                    <button type="submit" id="save-entity" [disabled]="startJobForm.invalid || isSaving" class="btn btn-primary">
                        <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="batchuiApp.batchJobExecution.action.startJob">Start new Job</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    </form>
</div>
