<div class="card border-secondary mb-2">
    <div class="card-header">Jobs by ExitCode distribution</div>
    <div class="card-body">
      <h4 *ngIf="(fromDate != null || toDate != null)" class="card-title">Job Exit Codes report for the selected period.</h4>
      <h4 *ngIf="(fromDate == null && toDate == null)" class="card-title">Job Exit Codes report for <span jhiTranslate="home.period24h" >the lst 24 hours</span>.</h4>
      
      <div *ngIf="chartReady" class="chart">
        <canvas baseChart [data]="chartData"
          [labels]="chartLabels"
          [chartType]="chartType"
          [options]="chartOptions"
          [plugins]="chartPlugins"
          [colors]="chartColors"
          [legend]="chartLegend">
        </canvas>
      </div>
      <p class="card-text p-2">
          Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
      <form formName="searchForm" role="form" #searchForm="ngForm" class="p-md-2 w-50">
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="global.field.fromDate" for="field_fromDate">From Date</label>
            <div class="input-group">
                <input id="field_fromDate" type="text" class="form-control" name="fromDate" ngbDatepicker  #fromDateDp="ngbDatepicker" [(ngModel)]="fromDate"/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fromDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="global.field.toDate" for="field_toDate">To Date</label>
            <div class="input-group">
                <input id="field_toDate" type="text" class="form-control" name="toDate" ngbDatepicker  #toDateDp="ngbDatepicker" [(ngModel)]="toDate"/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="toDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                </span>
            </div>
        </div>

        <button type="submit" [disabled]="!exitCodesSearchEnabled" class="btn btn-primary mb-2" (click)="getJobStatusReport()">Submit</button>
      </form>
    </div>
</div>