<div>
    <h2 id="page-heading">
        <span jhiTranslate="batchuiApp.batchStepExecution.home.title">Batch Step Executions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-batch-step-execution" [routerLink]="['/batch-step-execution/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="batchuiApp.batchStepExecution.home.createLabel">
            Create a new Batch Step Execution
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="batchStepExecutions?.length === 0">
        <span jhiTranslate="batchuiApp.batchStepExecution.home.notFound">No batchStepExecutions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="batchStepExecutions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="batchuiApp.batchStepExecution.version">Version</span></th>
                    <th scope="col" ><span jhiTranslate="batchuiApp.batchStepExecution.stepName">Step Name</span></th>
                    <th scope="col" ><span jhiTranslate="batchuiApp.batchStepExecution.startTime">Start Time</span></th>
                    <th scope="col" ><span jhiTranslate="batchuiApp.batchStepExecution.endTime">End Time</span></th>
                    <th scope="col" ><span jhiTranslate="batchuiApp.batchStepExecution.status">Status</span></th>
                    <th scope="col" ><span jhiTranslate="batchuiApp.batchStepExecution.commitCount">Commit Count</span></th>
                    <th scope="col" ><span jhiTranslate="batchuiApp.batchStepExecution.readCount">Read Count</span></th>
                    <th scope="col" ><span jhiTranslate="batchuiApp.batchStepExecution.filterCount">Filter Count</span></th>
                    <th scope="col" ><span jhiTranslate="batchuiApp.batchStepExecution.writeCount">Write Count</span></th>
                    <th scope="col" ><span jhiTranslate="batchuiApp.batchStepExecution.readSkipCount">Read Skip Count</span></th>
                    <th scope="col" ><span jhiTranslate="batchuiApp.batchStepExecution.writeSkipCount">Write Skip Count</span></th>
                    <th scope="col" ><span jhiTranslate="batchuiApp.batchStepExecution.processSkipCount">Process Skip Count</span></th>
                    <th scope="col" ><span jhiTranslate="batchuiApp.batchStepExecution.rollbackCount">Rollback Count</span></th>
                    <th scope="col" ><span jhiTranslate="batchuiApp.batchStepExecution.exitCode">Exit Code</span></th>
                    <th scope="col" ><span jhiTranslate="batchuiApp.batchStepExecution.exitMessage">Exit Message</span></th>
                    <th scope="col" ><span jhiTranslate="batchuiApp.batchStepExecution.lastUpdated">Last Updated</span></th>
                    <th scope="col" ><span jhiTranslate="batchuiApp.batchStepExecution.batchJobExecution">Batch Job Execution</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let batchStepExecution of batchStepExecutions ;trackBy: trackId">
                    <td><a [routerLink]="['/batch-step-execution', batchStepExecution.id, 'view']">{{ batchStepExecution.id }}</a></td>
                    <td>{{ batchStepExecution.version }}</td>
                    <td>{{ batchStepExecution.stepName }}</td>
                    <td>{{ batchStepExecution.startTime | date:'medium' }}</td>
                    <td>{{ batchStepExecution.endTime | date:'medium' }}</td>
                    <td>{{ batchStepExecution.status }}</td>
                    <td>{{ batchStepExecution.commitCount }}</td>
                    <td>{{ batchStepExecution.readCount }}</td>
                    <td>{{ batchStepExecution.filterCount }}</td>
                    <td>{{ batchStepExecution.writeCount }}</td>
                    <td>{{ batchStepExecution.readSkipCount }}</td>
                    <td>{{ batchStepExecution.writeSkipCount }}</td>
                    <td>{{ batchStepExecution.processSkipCount }}</td>
                    <td>{{ batchStepExecution.rollbackCount }}</td>
                    <td>{{ batchStepExecution.exitCode }}</td>
                    <td>{{ batchStepExecution.exitMessage }}</td>
                    <td>{{ batchStepExecution.lastUpdated | date:'medium' }}</td>
                    <td>
                        <div *ngIf="batchStepExecution.batchJobExecutionId">
                            <a [routerLink]="['/batch-job-execution', batchStepExecution.batchJobExecutionId , 'view']" >{{ batchStepExecution.batchJobExecutionJobExecutionId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/batch-step-execution', batchStepExecution.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/batch-step-execution', batchStepExecution.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(batchStepExecution)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
