<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-batch-step-execution-heading" jhiTranslate="batchuiApp.batchStepExecution.home.createOrEditLabel">Create or edit a Batch Step Execution</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchStepExecution.version" for="field_version">Version</label>
                    <input type="number" class="form-control" name="version" id="field_version"
                           formControlName="version"/>
                    <div *ngIf="editForm.get('version')!.invalid && (editForm.get('version')!.dirty || editForm.get('version')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('version')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('version')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchStepExecution.stepName" for="field_stepName">Step Name</label>
                    <input type="text" class="form-control" name="stepName" id="field_stepName"
                           formControlName="stepName"/>
                    <div *ngIf="editForm.get('stepName')!.invalid && (editForm.get('stepName')!.dirty || editForm.get('stepName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('stepName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('stepName')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchStepExecution.startTime" for="field_startTime">Start Time</label>
                    <div class="d-flex">
                        <input id="field_startTime" type="datetime-local" class="form-control" name="startTime" formControlName="startTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('startTime')!.invalid && (editForm.get('startTime')!.dirty || editForm.get('startTime')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('startTime')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('startTime')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchStepExecution.endTime" for="field_endTime">End Time</label>
                    <div class="d-flex">
                        <input id="field_endTime" type="datetime-local" class="form-control" name="endTime" formControlName="endTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('endTime')!.invalid && (editForm.get('endTime')!.dirty || editForm.get('endTime')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('endTime')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('endTime')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchStepExecution.status" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                    <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('status')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 10 }">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchStepExecution.commitCount" for="field_commitCount">Commit Count</label>
                    <input type="number" class="form-control" name="commitCount" id="field_commitCount"
                           formControlName="commitCount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchStepExecution.readCount" for="field_readCount">Read Count</label>
                    <input type="number" class="form-control" name="readCount" id="field_readCount"
                           formControlName="readCount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchStepExecution.filterCount" for="field_filterCount">Filter Count</label>
                    <input type="number" class="form-control" name="filterCount" id="field_filterCount"
                           formControlName="filterCount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchStepExecution.writeCount" for="field_writeCount">Write Count</label>
                    <input type="number" class="form-control" name="writeCount" id="field_writeCount"
                           formControlName="writeCount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchStepExecution.readSkipCount" for="field_readSkipCount">Read Skip Count</label>
                    <input type="number" class="form-control" name="readSkipCount" id="field_readSkipCount"
                           formControlName="readSkipCount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchStepExecution.writeSkipCount" for="field_writeSkipCount">Write Skip Count</label>
                    <input type="number" class="form-control" name="writeSkipCount" id="field_writeSkipCount"
                           formControlName="writeSkipCount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchStepExecution.processSkipCount" for="field_processSkipCount">Process Skip Count</label>
                    <input type="number" class="form-control" name="processSkipCount" id="field_processSkipCount"
                           formControlName="processSkipCount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchStepExecution.rollbackCount" for="field_rollbackCount">Rollback Count</label>
                    <input type="number" class="form-control" name="rollbackCount" id="field_rollbackCount"
                           formControlName="rollbackCount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchStepExecution.exitCode" for="field_exitCode">Exit Code</label>
                    <input type="text" class="form-control" name="exitCode" id="field_exitCode"
                           formControlName="exitCode"/>
                    <div *ngIf="editForm.get('exitCode')!.invalid && (editForm.get('exitCode')!.dirty || editForm.get('exitCode')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('exitCode')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2500 }">
                        This field cannot be longer than 2500 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchStepExecution.exitMessage" for="field_exitMessage">Exit Message</label>
                    <input type="text" class="form-control" name="exitMessage" id="field_exitMessage"
                           formControlName="exitMessage"/>
                    <div *ngIf="editForm.get('exitMessage')!.invalid && (editForm.get('exitMessage')!.dirty || editForm.get('exitMessage')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('exitMessage')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2500 }">
                        This field cannot be longer than 2500 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchStepExecution.lastUpdated" for="field_lastUpdated">Last Updated</label>
                    <div class="d-flex">
                        <input id="field_lastUpdated" type="datetime-local" class="form-control" name="lastUpdated" formControlName="lastUpdated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchStepExecution.batchJobExecution" for="field_batchJobExecution">Batch Job Execution</label>
                    <select class="form-control" id="field_batchJobExecution" name="batchJobExecution" formControlName="batchJobExecutionId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="batchJobExecutionOption.id" *ngFor="let batchJobExecutionOption of batchjobexecutions; trackBy: trackById">{{ batchJobExecutionOption.jobExecutionId }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
