<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="batchStepExecution">
            <h2><span jhiTranslate="batchuiApp.batchStepExecution.detail.title">Batch Step Execution</span> {{ batchStepExecution.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="batchuiApp.batchStepExecution.version">Version</span></dt>
                <dd>
                    <span>{{ batchStepExecution.version }}</span>
                </dd>
                <dt><span jhiTranslate="batchuiApp.batchStepExecution.stepName">Step Name</span></dt>
                <dd>
                    <span>{{ batchStepExecution.stepName }}</span>
                </dd>
                <dt><span jhiTranslate="batchuiApp.batchStepExecution.startTime">Start Time</span></dt>
                <dd>
                    <span>{{ batchStepExecution.startTime }}</span>
                </dd>
                <dt><span jhiTranslate="batchuiApp.batchStepExecution.endTime">End Time</span></dt>
                <dd>
                    <span>{{ batchStepExecution.endTime }}</span>
                </dd>
                <dt><span jhiTranslate="batchuiApp.batchStepExecution.status">Status</span></dt>
                <dd>
                    <span>{{ batchStepExecution.status }}</span>
                </dd>
                <dt><span jhiTranslate="batchuiApp.batchStepExecution.commitCount">Commit Count</span></dt>
                <dd>
                    <span>{{ batchStepExecution.commitCount }}</span>
                </dd>
                <dt><span jhiTranslate="batchuiApp.batchStepExecution.readCount">Read Count</span></dt>
                <dd>
                    <span>{{ batchStepExecution.readCount }}</span>
                </dd>
                <dt><span jhiTranslate="batchuiApp.batchStepExecution.filterCount">Filter Count</span></dt>
                <dd>
                    <span>{{ batchStepExecution.filterCount }}</span>
                </dd>
                <dt><span jhiTranslate="batchuiApp.batchStepExecution.writeCount">Write Count</span></dt>
                <dd>
                    <span>{{ batchStepExecution.writeCount }}</span>
                </dd>
                <dt><span jhiTranslate="batchuiApp.batchStepExecution.readSkipCount">Read Skip Count</span></dt>
                <dd>
                    <span>{{ batchStepExecution.readSkipCount }}</span>
                </dd>
                <dt><span jhiTranslate="batchuiApp.batchStepExecution.writeSkipCount">Write Skip Count</span></dt>
                <dd>
                    <span>{{ batchStepExecution.writeSkipCount }}</span>
                </dd>
                <dt><span jhiTranslate="batchuiApp.batchStepExecution.processSkipCount">Process Skip Count</span></dt>
                <dd>
                    <span>{{ batchStepExecution.processSkipCount }}</span>
                </dd>
                <dt><span jhiTranslate="batchuiApp.batchStepExecution.rollbackCount">Rollback Count</span></dt>
                <dd>
                    <span>{{ batchStepExecution.rollbackCount }}</span>
                </dd>
                <dt><span jhiTranslate="batchuiApp.batchStepExecution.exitCode">Exit Code</span></dt>
                <dd>
                    <span>{{ batchStepExecution.exitCode }}</span>
                </dd>
                <dt><span jhiTranslate="batchuiApp.batchStepExecution.exitMessage">Exit Message</span></dt>
                <dd>
                    <span>{{ batchStepExecution.exitMessage }}</span>
                </dd>
                <dt><span jhiTranslate="batchuiApp.batchStepExecution.lastUpdated">Last Updated</span></dt>
                <dd>
                    <span>{{ batchStepExecution.lastUpdated }}</span>
                </dd>
                <dt><span jhiTranslate="batchuiApp.batchStepExecution.batchJobExecution">Batch Job Execution</span></dt>
                <dd>
                    <div *ngIf="batchStepExecution.batchJobExecutionId">
                        <a [routerLink]="['/batch-job-execution', batchStepExecution.batchJobExecutionId, 'view']">{{ batchStepExecution.batchJobExecutionId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/batch-step-execution', batchStepExecution.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
