<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="startJobCommand">
            <h2><span jhiTranslate="batchuiApp.startJobCommand.detail.title">Start Job Command</span> {{ startJobCommand.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="batchuiApp.startJobCommand.jobName">Job Name</span></dt>
                <dd>
                    <span>{{ startJobCommand.jobName }}</span>
                </dd>
                <dt><span jhiTranslate="batchuiApp.startJobCommand.jobParams">Job Params</span></dt>
                <dd>
                    <span>{{ startJobCommand.jobParams }}</span>
                </dd>
                <dt><span jhiTranslate="batchuiApp.startJobCommand.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'batchuiApp.QueueStatus.' + startJobCommand.status }}">{{ startJobCommand.status }}</span>
                </dd>
                <dt><span jhiTranslate="batchuiApp.startJobCommand.nextAttemptTime">Next Attempt Time</span></dt>
                <dd>
                    <span>{{ startJobCommand.nextAttemptTime }}</span>
                </dd>
                <dt><span jhiTranslate="batchuiApp.startJobCommand.attemptCount">Attempt Count</span></dt>
                <dd>
                    <span>{{ startJobCommand.attemptCount }}</span>
                </dd>
                <dt><span jhiTranslate="batchuiApp.startJobCommand.lastAttemptTime">Last Attempt Time</span></dt>
                <dd>
                    <span>{{ startJobCommand.lastAttemptTime }}</span>
                </dd>
                <dt><span jhiTranslate="batchuiApp.startJobCommand.lastAttemptErrorMessage">Last Attempt Error Message</span></dt>
                <dd>
                    <span>{{ startJobCommand.lastAttemptErrorMessage }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/start-job-command', startJobCommand.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
