<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-start-job-command-heading" jhiTranslate="batchuiApp.startJobCommand.home.createOrEditLabel">Create or edit a Start Job Command</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.startJobCommand.jobName" for="field_jobName">Job Name</label>
                    <input type="text" class="form-control" name="jobName" id="field_jobName"
                           formControlName="jobName"/>
                    <div *ngIf="editForm.get('jobName')!.invalid && (editForm.get('jobName')!.dirty || editForm.get('jobName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('jobName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('jobName')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 80 }">
                        This field cannot be longer than 80 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.startJobCommand.jobParams" for="field_jobParams">Job Params</label>
                    <textarea class="form-control" name="jobParams" id="field_jobParams"
                              formControlName="jobParams"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.startJobCommand.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="NOT_ATTEMPTED">{{ 'batchuiApp.QueueStatus.NOT_ATTEMPTED' | translate }}</option>
                        <option value="ERROR">{{ 'batchuiApp.QueueStatus.ERROR' | translate }}</option>
                        <option value="SUCCESS">{{ 'batchuiApp.QueueStatus.SUCCESS' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.startJobCommand.nextAttemptTime" for="field_nextAttemptTime">Next Attempt Time</label>
                    <div class="d-flex">
                        <input id="field_nextAttemptTime" type="datetime-local" class="form-control" name="nextAttemptTime" formControlName="nextAttemptTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.startJobCommand.attemptCount" for="field_attemptCount">Attempt Count</label>
                    <input type="number" class="form-control" name="attemptCount" id="field_attemptCount"
                           formControlName="attemptCount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.startJobCommand.lastAttemptTime" for="field_lastAttemptTime">Last Attempt Time</label>
                    <div class="d-flex">
                        <input id="field_lastAttemptTime" type="datetime-local" class="form-control" name="lastAttemptTime" formControlName="lastAttemptTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.startJobCommand.lastAttemptErrorMessage" for="field_lastAttemptErrorMessage">Last Attempt Error Message</label>
                    <input type="text" class="form-control" name="lastAttemptErrorMessage" id="field_lastAttemptErrorMessage"
                           formControlName="lastAttemptErrorMessage"/>
                    <div *ngIf="editForm.get('lastAttemptErrorMessage')!.invalid && (editForm.get('lastAttemptErrorMessage')!.dirty || editForm.get('lastAttemptErrorMessage')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastAttemptErrorMessage')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 500 }">
                        This field cannot be longer than 500 characters.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
