<div>
    <h2 id="page-heading">
       <fa-icon icon="cogs" fixedWidth="true"></fa-icon>
       <span jhiTranslate="batchuiApp.startJobCommand.home.title">
            Start Job Commands
        </span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-start-job-command mr-1" [routerLink]="['/start-job-command/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="batchuiApp.startJobCommand.home.createLabel">
            Create a new Start Job Command
            </span>
        </button>

        <button id="jh-refresh" class="btn btn-secondary float-right mr-1" (click)="refresh()">
            <fa-icon icon="sync"></fa-icon>
            <span jhiTranslate="entity.action.refresh">Refresh</span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="startJobCommands?.length === 0">
        <span jhiTranslate="batchuiApp.startJobCommand.home.notFound">No startJobCommands found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="startJobCommands?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="jobName"><span jhiTranslate="batchuiApp.startJobCommand.jobName">Job Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="batchuiApp.startJobCommand.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="attemptCount"><span jhiTranslate="batchuiApp.startJobCommand.attemptCount">Attempt Count</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nextAttemptTime"><span jhiTranslate="batchuiApp.startJobCommand.nextAttemptTime">Next Attempt Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastAttemptTime"><span jhiTranslate="batchuiApp.startJobCommand.lastAttemptTime">Last Attempt Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastAttemptErrorMessage"><span jhiTranslate="batchuiApp.startJobCommand.lastAttemptErrorMessage">Last Attempt Error Message</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let startJobCommand of startJobCommands ;trackBy: trackId">
                    <td><a [routerLink]="['/start-job-command', startJobCommand.id, 'view']">{{ startJobCommand.id }}</a></td>
                    <td>{{ startJobCommand.jobName }}</td>
                    <td jhiTranslate="{{ 'batchuiApp.QueueStatus.' + startJobCommand.status }}">{{ startJobCommand.status }}</td>
                    <td>{{ startJobCommand.attemptCount }}</td>
                    <td>{{ startJobCommand.nextAttemptTime | date:'medium' }}</td>
                    <td>{{ startJobCommand.lastAttemptTime | date:'medium' }}</td>
                    <td>{{ startJobCommand.lastAttemptErrorMessage }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/start-job-command', startJobCommand.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/start-job-command', startJobCommand.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(startJobCommand)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="startJobCommands?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
