<jhi-page-ribbon></jhi-page-ribbon>

<div>
    <router-outlet name="navbar"></router-outlet>
</div>

<ngx-loading-bar color="#f95d6a" height="4px" fixed="false"></ngx-loading-bar>

<div class="container-fluid">
    <div class="card jh-card">
        <router-outlet></router-outlet>
    </div>

    <jhi-footer></jhi-footer>
</div>
