<div class="row justify-content-center">
    <div class="col-12">
        <div *ngIf="batchJobInstance">
            <h2><span jhiTranslate="batchuiApp.batchJobInstance.detail.title">Job Instance</span>: #{{ batchJobInstance.id }} / {{ batchJobInstance.jobName }}</h2>
            <hr>
            <span jhiTranslate="batchuiApp.batchJobInstance.jobKey" class="text-info">Job Key</span>: <span>{{ batchJobInstance.jobKey }}</span> | 
            <span jhiTranslate="batchuiApp.batchJobInstance.version" class="text-info">Version</span>: <span>{{ batchJobInstance.version }}</span>
            <jhi-alert-error></jhi-alert-error>
            <br/>
            <h4>Job Executions: <span class="badge badge-pill badge-dark">{{ batchJobInstance.batchJobExecutions!.length }}</span></h4>
            
            <jhi-batch-job-execution-list [batchJobExecutions]="batchJobInstance.batchJobExecutions">
            </jhi-batch-job-execution-list>
            
            <br/>
            
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="submit" (click)="delete()" class="btn btn-danger">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
            </button>
            
        </div>
    </div>
</div>
