<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-batch-job-instance-heading" jhiTranslate="batchuiApp.batchJobInstance.home.createOrEditLabel">Create or edit a Batch Job Instance</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchJobInstance.jobInstanceId" for="field_jobInstanceId">Job Instance Id</label>
                    <input type="number" class="form-control" name="jobInstanceId" id="field_jobInstanceId"
                           formControlName="jobInstanceId"/>
                    <div *ngIf="editForm.get('jobInstanceId')!.invalid && (editForm.get('jobInstanceId')!.dirty || editForm.get('jobInstanceId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('jobInstanceId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('jobInstanceId')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchJobInstance.version" for="field_version">Version</label>
                    <input type="number" class="form-control" name="version" id="field_version"
                           formControlName="version"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchJobInstance.jobName" for="field_jobName">Job Name</label>
                    <input type="text" class="form-control" name="jobName" id="field_jobName"
                           formControlName="jobName"/>
                    <div *ngIf="editForm.get('jobName')!.invalid && (editForm.get('jobName')!.dirty || editForm.get('jobName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('jobName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('jobName')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="batchuiApp.batchJobInstance.jobKey" for="field_jobKey">Job Key</label>
                    <input type="text" class="form-control" name="jobKey" id="field_jobKey"
                           formControlName="jobKey"/>
                    <div *ngIf="editForm.get('jobKey')!.invalid && (editForm.get('jobKey')!.dirty || editForm.get('jobKey')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('jobKey')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('jobKey')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 32 }">
                        This field cannot be longer than 32 characters.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
