<div>
    <h2 id="page-heading">
        <fa-icon icon="list" fixedWidth="true" size="xs"></fa-icon>
        <span jhiTranslate="batchuiApp.batchJobInstance.home.title">Batch Job Instances</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-batch-job-instance" [routerLink]="['/batch-job-instance/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="batchuiApp.batchJobInstance.home.createLabel">
            Create a new Batch Job Instance
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="batchJobInstances?.length === 0">
        <span jhiTranslate="batchuiApp.batchJobInstance.home.notFound">No batchJobInstances found</span>
    </div>

    <form name="selectRowForm" [formGroup]="selectRowForm">

    <div class="table-responsive" id="entities" *ngIf="batchJobInstances?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th>
                        <input type="checkbox" name="rowSelector" id="field_rowSelector" formControlName="rowSelector" (click)="toggle()" />
                    </th>
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="version"><span jhiTranslate="batchuiApp.batchJobInstance.version">Version</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="jobName"><span jhiTranslate="batchuiApp.batchJobInstance.jobName">Job Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="jobKey"><span jhiTranslate="batchuiApp.batchJobInstance.jobKey">Job Key</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col" class="text-right">
                        <button type="button" (click)="deleteSelected()" class="btn btn-secondary btn-xs">
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.deleteSelected">Delete all selected</span>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody formArrayName="elements">
                <tr *ngFor="let batchJobInstance of batchJobInstances; let i = index ;trackBy: trackId">
                    <td>
                        <input type="checkbox" [formControlName]="i" />
                    </td>
                    <td><a [routerLink]="['/batch-job-instance', batchJobInstance.id, 'view']">{{ batchJobInstance.id }}</a></td>
                    <td>{{ batchJobInstance.version }}</td>
                    <td>{{ batchJobInstance.jobName }}</td>
                    <td>{{ batchJobInstance.jobKey }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/batch-job-instance', batchJobInstance.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit" (click)="delete(batchJobInstance)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    </form>

    <div *ngIf="batchJobInstances?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
