/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/spring-batch-logo.png') no-repeat center top;
  background-size: contain;
}

.jumbotron {
  background-color: #fff;
  color: white;
  background-image: url('../../content/images/welcome.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 75vh;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/spring-batch-logo.png') no-repeat center top;
    background-size: contain;
  }
}
