<div class="row">
    <div class="col-9" [ngSwitch]="isAuthenticated()">
        <div class="row p-0" *ngSwitchCase="false">
            <div class="col-12 w-100" >
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-2">Spring BatchUI</h1>
                        <p class="lead bg-warning w-50 p-1" jhiTranslate="home.subtitle">Spring Batch Admin Console</p>
                        <button class="btn btn-info btn-lg" (click)="login()">
                            <fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.messages.info.authenticated.link">
                                sign in
                            </span>
                        </button>
                    </div>
                </div>
            </div>    
        </div>
        <div class="row" *ngSwitchCase="true">
            <div class="col-4">
                <div class="card border-secondary bg-success mb-2">
                    <div class="row no-gutters">
                        <div class="col-auto p-4">
                            <fa-icon icon="cogs" size="3x" fixedWidth="true" class="p-1 img-fluid"></fa-icon>
                        </div>
                        <div class="col p-2">
                            <div class="card-block px-2">
                                <h1 class="card-title text-right">{{ successJobCount }}</h1>
                                <p class="card-text">Jobs successfully run.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer w-100 p-1">
                        <fa-icon icon="calendar-alt" size="sm" fixedWidth="true" class="p-1"></fa-icon> Last 24h
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-secondary bg-danger mb-2">
                    <div class="row no-gutters">
                        <div class="col-auto p-4">
                            <fa-icon icon="ambulance" size="3x" fixedWidth="true" class="p-1 img-fluid"></fa-icon>
                        </div>
                        <div class="col p-2">
                            <div class="card-block px-2">
                                <h1 class="card-title text-right">{{ failedJobCount }}</h1>
                                <p class="card-text">Jobs failed to complete.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer w-100 p-1">
                        <fa-icon icon="calendar-alt" size="sm" fixedWidth="true" class="p-1"></fa-icon> Last 24h
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-secondary bg-info mb-2">
                    <div class="row no-gutters">
                        <div class="col-auto p-4">
                            <fa-icon icon="list" size="3x" fixedWidth="true" class="p-1 img-fluid"></fa-icon>
                        </div>
                        <div class="col p-2">
                            <div class="card-block px-2">
                                <h1 class="card-title text-right">{{ totalJobCount }}</h1>
                                <p class="card-text">Jobs running periodically</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer w-100 p-1">
                        <fa-icon icon="sync" size="sm" fixedWidth="true" class="p-1"></fa-icon> Last run 25min ago
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngSwitchCase="true">
            <div class="col-6">
                <jhi-exit-codes-report *ngIf="jobStatusReport" [exitCodes]="jobStatusReport.exitCodes">
                </jhi-exit-codes-report>
            </div>
            <div class="col-6">
                <div class="card border-secondary mb-2">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                          <h4 class="card-title">Primary card title</h4>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card mb-3">
            <h3 class="card-header">About BatchUI</h3>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <h6 class="card-subtitle text-muted">Support card subtitle</h6>
            </div>
            <div class="w-100 pb-3 pt-3" style="text-align: center; background-color: #ccc;">
                <fa-icon icon="dharmachakra" fixedWidth="true" size="10x"></fa-icon>
            </div>
            
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">GitLab</a>
              <a href="#" class="card-link">GitHub</a>
              <a href="#" class="card-link">Wiki pages</a>
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div>
    </div>
</div>
