
<div class="col-12">
    <div class="row">
        <div class="col-4">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Property</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span  class="font-weight-bold" jhiTranslate="global.field.id">ID</span>:</td>
                        <td>#{{ batchJobExecution.id }}</td>
                    </tr>
                    <tr>
                        <td><span jhiTranslate="batchuiApp.batchJobExecution.batchJobInstance">Instance Id</span>:</td>
                        <td>#<a [routerLink]="['/batch-job-instance', batchJobExecution.batchJobInstanceId, 'view']">{{ batchJobExecution.batchJobInstanceId }}</a></td>
                    </tr>
                    <tr>
                        <td><span jhiTranslate="batchuiApp.batchJobExecution.exitCode">Exit Code</span>:</td>
                        <td><span class="{{ batchJobExecution.exitCode! | exitStatusStyle:'badge badge-pill badge-' }}">{{ batchJobExecution.exitCode }}</span></td>
                    </tr>
                    <tr>
                        <td><span jhiTranslate="batchuiApp.batchJobExecution.status">Batch Status</span>:</td>
                        <td><span class="{{ batchJobExecution.status! | batchStatusStyle:'badge badge-pill badge-' }}">{{ batchJobExecution.status }}</span></td>
                    </tr>
                    <tr>
                        <td><span jhiTranslate="batchuiApp.batchJobExecution.startTime">Start Time</span>:</td>
                        <td>{{ batchJobExecution.startTime | date:'short' }}</td>
                    </tr>
                    <tr>
                        <td><span jhiTranslate="batchuiApp.batchJobExecution.endTime">End Time</span>:</td>
                        <td>{{ batchJobExecution.endTime | date:'short' }}</td>
                    </tr>
                    <tr>
                        <td><span jhiTranslate="batchuiApp.batchJobExecution.createTime">Create Time</span>:</td>
                        <td>{{ batchJobExecution.createTime | date:'short' }}</td>
                    </tr>
                    <tr>
                        <td><span jhiTranslate="batchuiApp.batchJobExecution.lastUpdated">Last Update</span>:</td>
                        <td>{{ batchJobExecution.lastUpdated | date:'short' }}</td>
                    </tr>
                    <tr>
                        <td><span jhiTranslate="batchuiApp.batchJobExecution.jobConfigurationLocation">Job Configuration Location</span>:</td>
                        <td>{{ batchJobExecution.jobConfigurationLocation ? batchJobExecution.jobConfigurationLocation : '-' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-8">
            <jhi-batch-job-executionparams-widget [batchJobExecutionParams]="batchJobExecution.batchJobExecutionParams">
            </jhi-batch-job-executionparams-widget>

            <jhi-batch-job-execution-context [batchJobExecutionContexts]="batchJobExecution.batchJobExecutionContexts">
            </jhi-batch-job-execution-context>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-sm">
                <tr>
                    <td><span class="font-weight-bold" jhiTranslate="batchuiApp.batchJobExecution.exitMessage">Exit Message</span>:</td>
                    <td colspan="11">
                        {{ batchJobExecution.exitMessage ?  batchJobExecution.exitMessage : 'N/A' }}
                    </td>
                </tr>
            </table>    
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-2 bg-primary text-white">Step Executions</div>
    </div>
    <div class="row p-2" *ngIf="batchJobExecution.batchStepExecutions?.length > 0">
        <div class="col-12">
            <jhi-batch-job-step-execution-list [batchStepExecutions]="batchJobExecution.batchStepExecutions">
            </jhi-batch-job-step-execution-list>
        </div>
    </div>
</div>
