<ngb-accordion class="w-100" closeOthers="true">
    <ngb-panel *ngFor="let bse of batchStepExecutions" id="bse-{{ bse.id }}">
        <ng-template ngbPanelHeader>
            <div class="align-items-center justify-content">
                <div class="row">
                    <div class="col-3">
                        <button ngbPanelToggle type="button" class="btn btn-link">{{ bse.stepName }}</button>
                    </div>
                    <div class="col-3">{{ bse.startTime | date:'medium' }}</div>
                    <div class="col-3">{{ bse.endTime | date:'medium' }}</div>
                    <div class="col-1"><span class="{{ bse.exitCode | exitStatusStyle:'badge badge-pill badge-' }}">{{ bse.exitCode }}</span></div>
                    <div class="col-1"><span class="{{ bse.status | batchStatusStyle:'badge badge-pill badge-' }}">{{ bse.status }}</span></div>
                </div>
            </div>
        </ng-template ngbPanelHeader>
        <ng-template ngbPanelContent>
            <div class="row">
                <div class="col-3">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Property</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span  class="font-weight-bold" jhiTranslate="global.field.id">ID</span>:</td>
                                <td>#{{ bse.id }}</td>
                            </tr>
                            <tr>
                                <td><span jhiTranslate="batchuiApp.batchStepExecution.lastUpdated">Last Updated</span>:</td>
                                <td>{{ bse.lastUpdated | date:'short' }}</td>
                            </tr>
                            <tr>
                                <td><span jhiTranslate="batchuiApp.batchStepExecution.version">Version</span>:</td>
                                <td>{{ bse.version }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-9">
                    <jhi-batch-job-step-execution-context [batchStepExecutionContexts]="bse.batchStepExecutionContexts">
                    </jhi-batch-job-step-execution-context>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table table-sm text-center">
                        <thead>
                            <tr>
                                <th scope="col" ><span jhiTranslate="batchuiApp.batchStepExecution.readCount">Read Count</span></th>
                                <th scope="col" ><span jhiTranslate="batchuiApp.batchStepExecution.filterCount">Filter Count</span></th>
                                <th scope="col" ><span jhiTranslate="batchuiApp.batchStepExecution.writeCount">Write Count</span></th>
                                <th scope="col" ><span jhiTranslate="batchuiApp.batchStepExecution.readSkipCount">Read Skip Count</span></th>
                                <th scope="col" ><span jhiTranslate="batchuiApp.batchStepExecution.writeSkipCount">Write Skip Count</span></th>
                                <th scope="col" ><span jhiTranslate="batchuiApp.batchStepExecution.processSkipCount">Process Skip Count</span></th>
                                <th scope="col" ><span jhiTranslate="batchuiApp.batchStepExecution.commitCount">Commit Count</span></th>
                                <th scope="col" ><span jhiTranslate="batchuiApp.batchStepExecution.rollbackCount">Rollback Count</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ bse.readCount }}</td>
                                <td>{{ bse.filterCount }}</td>
                                <td>{{ bse.writeCount }}</td>
                                <td>{{ bse.readSkipCount }}</td>
                                <td>{{ bse.writeSkipCount }}</td>
                                <td>{{ bse.processSkipCount }}</td>
                                <td>{{ bse.commitCount }}</td>
                                <td>{{ bse.rollbackCount }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <span class="font-weight-bold" jhiTranslate="batchuiApp.batchStepExecution.exitMessage">Exit Message</span>:
                    <p class="bg-light">
                    {{ bse.exitMessage ? bse.exitMessage : 'N/A' }}
                    </p>
                </div>
            </div>
        </ng-template ngbPanelContent>
    </ngb-panel>
</ngb-accordion>