<div class="table-responsive" id="bjeEntities" *ngIf="batchJobExecutions">
    <table class="table table-sm table-striped" aria-describedby="page-heading">
        <thead>
            <tr *ngIf="sortEnabled()" jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="onSort.bind(this)">
                <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                <th scope="col"  jhiSortBy="jobName"><span jhiTranslate="batchuiApp.batchJobExecution.jobName">Job Name</span> <fa-icon icon="sort"></fa-icon></th>
                <th scope="col"  jhiSortBy="startTime"><span jhiTranslate="batchuiApp.batchJobExecution.startTime">Start Time</span> <fa-icon icon="sort"></fa-icon></th>
                <th scope="col"  jhiSortBy="endTime"><span jhiTranslate="batchuiApp.batchJobExecution.endTime">End Time</span> <fa-icon icon="sort"></fa-icon></th>
                <th scope="col"  jhiSortBy="status"><span jhiTranslate="batchuiApp.batchJobExecution.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                <th scope="col"  jhiSortBy="exitCode"><span jhiTranslate="batchuiApp.batchJobExecution.exitCode">Exit Code</span> <fa-icon icon="sort"></fa-icon></th>
                <th scope="col"  jhiSortBy="batchJobInstanceId"><span jhiTranslate="batchuiApp.batchJobExecution.batchJobInstance">Batch Job Instance</span> <fa-icon icon="sort"></fa-icon></th>
                <th scope="col"></th>
            </tr>
            <tr *ngIf="!sortEnabled()">
                <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                <th scope="col" ><span jhiTranslate="batchuiApp.batchJobExecution.jobName">Job Name</span></th>
                <th scope="col" ><span jhiTranslate="batchuiApp.batchJobExecution.startTime">Start Time</span></th>
                <th scope="col" ><span jhiTranslate="batchuiApp.batchJobExecution.endTime">End Time</span></th>
                <th scope="col" ><span jhiTranslate="batchuiApp.batchJobExecution.status">Status</span></th>
                <th scope="col" ><span jhiTranslate="batchuiApp.batchJobExecution.exitCode">Exit Code</span></th>
                <th scope="col" ><span jhiTranslate="batchuiApp.batchJobExecution.batchJobInstance">Batch Job Instance</span></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let batchJobExecution of batchJobExecutions ;trackBy: trackId">
                <td><a [routerLink]="['/batch-job-execution', batchJobExecution.id, 'view']">{{ batchJobExecution.id }}</a></td>
                <td>{{ batchJobExecution.jobName }}</td>
                <td>{{ batchJobExecution.startTime | date:'short' }}</td>
                <td>{{ batchJobExecution.endTime | date:'short' }}</td>
                <td><span class="{{ batchJobExecution.status | batchStatusStyle:'badge badge-pill badge-' }}">{{ batchJobExecution.status }}</span></td>
                <td><span class="{{ batchJobExecution.exitCode | exitStatusStyle:'badge badge-pill badge-' }}">{{ batchJobExecution.exitCode }}</span></td>
                <td>
                    <div *ngIf="batchJobExecution.batchJobInstanceId">
                        <a [routerLink]="['/batch-job-instance', batchJobExecution.batchJobInstanceId , 'view']" >{{ batchJobExecution.batchJobInstanceId }}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/batch-job-execution', batchJobExecution.id, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit" (click)="delete(batchJobExecution)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>