<table class="table table-striped table-sm" aria-describedby="page-heading">
    <thead>
        <tr>
            <th colspan="7">
                <span class="text-info">Job Execution params:</span>
            </th>
        </tr>
        <tr class="text-center">
            <th scope="col" ><span jhiTranslate="batchuiApp.batchJobExecutionParams.keyName">Key Name</span></th>
            <th scope="col" ><span jhiTranslate="batchuiApp.batchJobExecutionParams.typeCd">Type Cd</span></th>
            <th scope="col" ><span jhiTranslate="batchuiApp.batchJobExecutionParams.stringVal">String Val</span></th>
            <th scope="col" ><span jhiTranslate="batchuiApp.batchJobExecutionParams.dateVal">Date Val</span></th>
            <th scope="col" ><span jhiTranslate="batchuiApp.batchJobExecutionParams.longVal">Long Val</span></th>
            <th scope="col" ><span jhiTranslate="batchuiApp.batchJobExecutionParams.doubleVal">Double Val</span></th>
            <th scope="col" ><span jhiTranslate="batchuiApp.batchJobExecutionParams.identifying">Identifying</span></th>
            <th scope="col" *ngIf="showRemoveControl"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bjp of batchJobExecutionParams; let indexOfelement=index" class="text-center">
            <td class="font-weight-bold">{{ bjp.keyName }}</td>
            <td>{{ bjp.typeCd }}</td>
            <td>{{ bjp.stringVal }}</td>
            <td>{{ bjp.dateVal | date:'short' }}</td>
            <td>{{ bjp.longVal }}</td>
            <td>{{ bjp.doubleVal }}</td>
            <td>{{ bjp.identifying }}</td>
            <td scope="col" *ngIf="showRemoveControl">
                <button type="submit" (click)="remove(indexOfelement)" class="btn btn-danger btn-sm">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
            </td>
        </tr>
    </tbody>
</table>