    <div cid="jobExecutionContextEntities" *ngIf="batchJobExecutionContexts?.length > 0">
        <table class="table table-sm" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th  scope="col" colspan="2">
                        <span class="text-info">Job Execution Context:</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-template ngFor let-sec [ngForOf]="batchJobExecutionContexts" let-i="index">
                    <tr>
                        <td><span jhiTranslate="batchuiApp.batchJobExecutionContext.shortContext">Short Context</span>:</th>
                        <td style="word-break: break-all">{{ sec.shortContext }}</td>
                    </tr>
                    <tr>
                        <td><span jhiTranslate="batchuiApp.batchJobExecutionContext.serializedContext">Serialized Context</span>:</th>
                        <td>{{ sec.serializedContext }}</td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
    </div>
    
