<form formName="searchForm" role="form" #searchForm="ngForm" class="p-md-2">
    <div class="form-row">
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="global.field.fromDate" for="field_fromDate">From Date</label>
            <div class="input-group">
                <input id="field_fromDate" type="text" class="form-control" name="fromDate" ngbDatepicker  #fromDateDp="ngbDatepicker" [(ngModel)]="criteria.fromDate"/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fromDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                </span>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="global.field.toDate" for="field_toDate">To Date</label>
            <div class="input-group">
                <input id="field_toDate" type="text" class="form-control" name="toDate" ngbDatepicker  #toDateDp="ngbDatepicker" [(ngModel)]="criteria.toDate"/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="toDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                </span>
            </div>
        </div>
    </div>
    
    <div class="form-row">
        <div class="form-group">
            <label class="form-control-label" for="jobName">Job Name:</label>
            <select class="form-control" id="jobName" name="jobName" [(ngModel)]="criteria.jobName" >
                <option [ngValue]="null"></option>
                <option [ngValue]="jobNameOption" *ngFor="let jobNameOption of listJobNames">{{jobNameOption}}</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label class="form-control-label" for="exitCode">Exit Code:</label>
            <select class="form-control" id="exitCode" name="exitCode" [(ngModel)]="criteria.exitCode" >
                <option [ngValue]="null"></option>
                <option [ngValue]="exitCodeOption" *ngFor="let exitCodeOption of exitCodes">{{exitCodeOption}}</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label class="form-control-label" for="status">Batch status:</label>
            <select class="form-control" id="status" name="status" [(ngModel)]="criteria.status" >
                <option [ngValue]="null"></option>
                <option [ngValue]="statusOption" *ngFor="let statusOption of statuses">{{statusOption}}</option>
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <button type="button" class="btn btn-light align-bottom" (click)="clearSearch()">
                <span>Clear</span>
            </button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary align-bottom" (click)="search()">
                <span>Search</span>
            </button>
        </div>
    </div>
</form>